.hero{
    width: 100%;
    background-color: black;
}

.hero img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    opacity: 0.75;
}

.hero .hero-text{

    z-index: 1;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
}



.hero-text h1{
    color: white;
    line-height: 1;
    font-size: 60px;
    text-align: center;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;

}

.hero-text h1:hover{
    scale: 1.05;
    cursor: default;
}

.hero-text p{
    color: white;
    font-size: 20px;
    width: 425px;
}



.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    margin: 0;
    padding: 50px 0;
    background-color: #f2f2f2;

}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: auto;
    padding: 10px;
    margin-bottom: 50px;
}

.text{
    margin: auto 50px;
    width: 500px;

}

.images{
    margin-top: 35px;
}
.image img{
    width: 500px;
    margin: 10px;
}

#h-img img{
    margin-top: 95px;
    width: 500px;
}

h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #2d2d2d;
    margin-bottom: 50px;
}

p{
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 25px;
}

.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 20px;
    outline: none;
  }
  .custom-btn {
    width: 250px;
    height: 60px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }

.btn-5 {
    background: #343434;
    color: white;
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-5:hover {
    background: #07a8d9;
    color: #343434;
     box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #343434;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }

@media screen and (max-width: 1220px){
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 800px;
        margin: auto;
        padding: 10px;
        margin-bottom: 50px;
    }

    .text{
        margin: auto 10px auto 0;
    }

    .image{
        width: 380px;

    }
    .image img{
        width: 350px;
    }

    #h-img img{
        width: 350px;
    }

    h1{
        font-size: 35px;
        margin-bottom: 35px;
    }

    p{
        font-size: 18px;
    }
}

@media screen and (max-width: 850px){
    .container{
        width: auto;
    }
    .images{
        display: none;
    }
}

@media screen and (max-width: 550px){
    .container{
        width: 400px;
    }
}
