<app-navbar> </app-navbar>

<div class="hero">
  <div class="hero-text">
    <H1><U>O NAMA</U></H1>
    <p>Saznajte više o nama, i našim ciljevima.</p>
  </div>

  <img src="assets/images/about4.JPG" alt="Varioc u toku varenja dve cevi" />
</div>

<div class="wrapper">
  <div class="container">
    <div class="text">
      <h1>NEŠTO O NAMA...</h1>
      <P
        >Synergy tech d.o.o. je osnovan 2015. godine, kao privatno preduzeće,
        osposobljeno za pružanje efikasnih i kvalitetnih usluga iz navedenih
        oblasti. Tim radnika koji čine inženjeri, atestirani zavarivači i
        kvalifikovani radnici mašinske struke predstavljaju jednu od najvećih
        prednosti kompanije.</P
      >
      <p>
        Tokom godina, kompanija je sistematski razvijala svoj način rada,
        ulažući u obrazovanje i ljudske resurse, nove alate i mehanizaciju.
        Poseban akcenat stavljen je na edukaciju zavarivača, prihvatanje i
        implementaciju najnovijih tehnologija.
      </p>
      <p>
        Još od osnivanja, izgradnja cevovoda je razvijena i tretirana kao
        osnovna delatnost kompanije. Synergy tech d.o.o. specijalizovana je za
        čitav niz aktivnosti vezanih za izgradnju cevovoda transportnih i
        industrijskih postrojenja, različitih prečnika i za različite medije.
      </p>
      <P
        >Izgradnja cevovoda je dovedena na izuzetno visok nivo u pogledu
        organizacije radova, kvaliteta izvođenja i poštovanja rokova. Kompanija
        je u mogućnosti da odmah primeni sve potrebne tehnologije zavarivanja u
        izgradnji cevovoda, bilo od ugljeničnog čelika, nerđajućeg čelika ili
        polietilena.</P
      >
      <p>
        Sve poslove kompanija obavlja u skladu sa ISO standardima, za koje
        poseduje i važeće sertifikate.
      </p>

      <div class="frame">
        <button class="custom-btn btn-5" routerLink="/projekti">
          <span>Naši Projekti</span>
        </button>
      </div>
    </div>

    <div class="images">
      <div class="image">
        <img
          src="/assets/images/about1.jpg"
          alt="Varioc drzi opremu za varenje"
        />
      </div>

      <div class="image" id="h-img">
        <img src="/assets/images/about2.JPG" alt="Balkanska ulica iz vazduha" />
      </div>
    </div>
  </div>
</div>

<app-footer> </app-footer>
