
<div class="wrapper">
    <div class="container">

      <div id="about">

        <div id="test">
          <div class="section-title">
            <h1 class="title" style="color: #07a8d9;">"Synergy Tech" d.o.o.©</h1>
          </div>
          <div class="section-content">

            <p>Synergy tech d.o.o. je privredno društvo specijalizovano za montažu svih vrsta cevovoda, rezervoara, čeličnih konstrukcija i industrijskih postrojenja u oblastima procesne tehnike, termotehnike i gasne tehnike.</p>

          </div>

          <div class="info">
            <div class="item">
                <mat-icon id="icon" style="color: #07a8d9;">map</mat-icon>
                <p>Amadova 51, 11000 Belgrade, Serbia </p>
            </div>

            <div class="item">
                <mat-icon style="color: #07a8d9;"> email</mat-icon>
                <p><a href="mailto:office@synergytech.rs">office@synergytech.rs</a></p>
            </div>

            <div class="item">
                <mat-icon style="color: #07a8d9;">phone_in_talk</mat-icon>
                <p><a href="tel:+381114091589">+381 11 4091589</a><br><a href="tel:+381605569900"></a></p>
            </div>

            <div class="item">
                <mat-icon style="color: #07a8d9;">perm_identity</mat-icon>
                <p>PIB: 108980086</p>
            </div>
        </div>
        </div>


      </div>

      <div class="section">

        <div class="section-item">

          <div class="section-title">
            <h1 style="color: #07a8d9;">Navigacija</h1>
          </div>

          <div class="section-content">
            <ul>
              <li><a routerLink="/pocetna">Početna</a></li>
              <li><a routerLink="/onama">O Nama</a></li>
              <li><a routerLink="/delatnosti">Delatnosti</a></li>
              <li><a routerLink="/sertificates">Sertifikati</a></li>
              <li><a routerLink="/projekti">Reference</a></li>
              <li><a routerLink="/kontakt">Kontakt</a></li>

            </ul>
          </div>

        </div>

        <div class="section-item">

          <div class="section-title">
            <h1 style="color: #07a8d9;">Legal</h1>
          </div>

          <div class="section-content">
            <ul>
              <li><a routerLink="/to-s">Terms of Service</a></li>
              <li><a routerLink="/privacy">Privacy Policy</a></li>
              <li><a routerLink="/cookies">Cookie Policy</a></li>
            </ul>
          </div>

        </div>




    </div>

  </div>
