<app-navbar> </app-navbar>

<div class="hero">
  <div class="hero-text">
    <H1><U>Sertifikati</U></H1>
    <p>Saznajte koje sve sertifikate posedujemo.</p>
  </div>

  <img src="assets/images/sertifikati1.jpg" alt="" />
</div>

<div class="heading">
  <h1>Sertifikati</h1>
  <p>Sertifikati koje posedujemo:</p>
</div>

<div class="wrapper">
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Sertifikat tehnologije zavarivanja 1</h2>
      <img
        src="assets/images/Sertifikati/slike/1111.JPG"
        alt="Prvi sertifikat"
      />
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Sertifikat tehnologije zavarivanja 2</h2>
      <img
        src="assets/images/Sertifikati/slike/1112.JPG"
        alt="Drugi sertifikat"
      />
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Sertifikat tehnologije zavarivanja 3</h2>
      <img
        src="assets/images/Sertifikati/slike/1113.JPG"
        alt="Treci sertifikat"
      />
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Sertifikat tehnologije zavarivanja 4</h2>
      <img
        src="assets/images/Sertifikati/slike/1114.JPG"
        alt="Cetvrti sertifikat"
      />
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Sertifikat tehnologije zavarivanja 5</h2>
      <img
        src="assets/images/Sertifikati/slike/1351.JPG"
        alt="Peti sertifikat"
      />
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Sertifikat tehnologije zavarivanja 6</h2>
      <img
        src="assets/images/Sertifikati/slike/1352.JPG"
        alt="Sesti sertifikat"
      />
    </div>
  </div>
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Sertifikat tehnologije zavarivanja 7</h2>
      <img
        src="assets/images/Sertifikati/slike/1353.JPG"
        alt="Sedmi sertifikat"
      />
    </div>
  </div>
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Sertifikat tehnologije zavarivanja 8</h2>
      <img
        src="assets/images/Sertifikati/slike/sert41.JPG"
        alt="Osmi sertifikat"
      />
    </div>
  </div>
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Sertifikat bezbednosti zastite na radu</h2>
      <img
        src="assets/images/Sertifikati/slike/sert11.JPG"
        alt="Deveti sertifikat"
      />
    </div>
  </div>
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Sertifikat zastite zivotne sredine</h2>
      <img
        src="assets/images/Sertifikati/slike/sert21.JPG"
        alt="Deseti sertifikat"
      />
    </div>
  </div>
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Sertifikat sistem menadzmenta energijom</h2>
      <img
        src="assets/images/Sertifikati/slike/sert31.JPG"
        alt="jedanaesti sertifikat"
      />
    </div>
  </div>
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Sertifikat kvaliteta zavarivanja metalnih materijala</h2>
      <img
        src="assets/images/Sertifikati/slike/sert51.JPG"
        alt="dvanaesti sertifikat"
      />
    </div>
  </div>
</div>

<app-footer></app-footer>
