<app-navbar-en></app-navbar-en>

<div class="hero">
  <div class="hero-text"></div>

  <main>
    <div class="gradient">
      <video [muted]="'muted'" autoplay loop id="videoPoc">
        <source src="assets\images\Videozasajt1.mp4" type="video/mp4" />
        Your web browser does not support this media file.
      </video>
    </div>
  </main>
</div>

<div class="wrapper">
  <img src="assets/images/stlogo.png" alt="Synergy tech logo" />

  <div class="text">
    <h1>About us...</h1>
    <p>
      <STRONG>Synergy tech d.o.o.</STRONG> is a company specialized in the
      assembly of all types of pipelines, tanks, steel structures and industrial
      plants in the fields of process engineering, thermotechnics and gas
      engineering.
    </p>
    <div class="frame">
      <button class="custom-btn btn-5" routerLink="/about">
        <span>Learn more</span>
      </button>
    </div>
  </div>
</div>

<div class="bar"></div>

<div class="wrapper">
  <img src="assets/projects/gazela/g9.jpg" alt="Welder welding a pipe" />

  <div class="text">
    <h1>Our recent work...</h1>
    <p>
      We are always working on important projects that we are very proud of.
      Some of our most recent ones include:
    </p>

    <ol>
      <li>Obrenovac</li>
      <li>Peke Dapcevica</li>
      <li>Kostolac</li>
    </ol>

    <div class="frame">
      <button class="custom-btn btn-5" routerLink="/projects">
        <span>Learn more</span>
      </button>
    </div>
  </div>
</div>

<app-footer-en></app-footer-en>
