<app-navbar></app-navbar>

<div class="hero">
  <div class="hero-text">
    <H1><U>DELATNOSTI</U></H1>
    <p>Nudimo dijapazon delatnosti za svaku vašu potrebu.</p>
  </div>

  <img src="assets/images/project1.jpg" alt="Slika radnika" />
</div>

<div class="heading">
  <h1>Delatnosti</h1>
  <p>Neke od delatnosti kojima se bavimo:</p>
</div>

<div class="wrapper">
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Montaža čeličnih cevovoda</h2>
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Montaža i sanacija rezervoara za naftu i gas</h2>
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Montaža termoenergetskih postrojenja</h2>
      <p>Kotlovi, kombi blokovi, toplovodni kotlovi i podstanice.</p>
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Remonti industrijskih postrojenja</h2>
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Montaža solarnih elektrana</h2>
      <p>Ključ u ruke.</p>
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Montaža čeličnih konstrukcija</h2>
    </div>
  </div>
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Konsalting i Tender menadžment</h2>
    </div>
  </div>
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Hemijsko čišćenje cevovoda</h2>
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Inteligentno ispitivanje cevovoda</h2>
    </div>
  </div>
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Topli ubodi</h2>
      <p>Povezivanje cevovoda pod pritiskom.</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
