<app-navbar-en> </app-navbar-en>

<div class="hero">
  <div class="hero-text">
    <H1><U>ABOUT US</U></H1>
    <p>Learn more about who we are, and what we do.</p>
  </div>

  <img src="assets/images/about4.JPG" alt="welder welding two pipes together" />
</div>

<div class="wrapper">
  <div class="container">
    <div class="text">
      <h1>ABOUT US...</h1>
      <P
        >Synergy tech d.o.o. was founded in 2015, as a private company, capable
        of providing efficient and quality services in the aforementioned areas.
        The team of workers consisting of engineers, certified welders and
        qualified mechanical workers represent one of the biggest advantages of
        the company.</P
      >
      <p>
        Over the years, the company has systematically developed its way of
        working, investing in education and human resources, new tools and
        machinery. Special emphasis is placed on the education of welders,
        acceptance and implementation of the latest technologies.
      </p>
      <p>
        Since its foundation, pipeline construction has been developed and
        treated as the core business of the company. Synergy tech d.o.o.
        specializes in a whole range of activities related to the construction
        of pipelines of transport and industrial plants, of different diameters
        and for different media.
      </p>
      <P
        >Pipeline construction has been brought to an extremely high level in
        terms of work organization, quality of execution and compliance with
        deadlines. The company is able to immediately implement all the
        necessary welding technologies in the construction of pipelines, whether
        carbon steel, stainless steel or polyethylene.</P
      >
      <p>
        All the company's work is performed in accordance with ISO standards,
        for which it has valid certificates.
      </p>
      <p>
        The founder and owner of the company is
        <strong>Nemanja Laković</strong>, who, like most of the employees, has
        many years of experience in the mentioned activities.
      </p>

      <div class="frame">
        <button class="custom-btn btn-5" routerLink="/projects">
          <span>Our Projects</span>
        </button>
      </div>
    </div>

    <div class="images">
      <div class="image">
        <img
          src="/assets/images/about1.jpg"
          alt="Man holding a welding equipment"
        />
      </div>

      <div class="image" id="h-img">
        <img
          src="/assets/images/about2.JPG"
          alt=" Balkanska street from above"
        />
      </div>
    </div>
  </div>
</div>

<app-footer-en> </app-footer-en>
