<app-navbar-en></app-navbar-en>

<div class="hero">
  <div class="hero-text">
    <H1><U>SERVICES</U></H1>
    <p>We offer a wide range of services</p>
  </div>

  <img src="assets/images/project1.jpg" alt="picture of workers" />
</div>

<div class="heading">
  <h1>Services</h1>
  <p>Some of the services we offer are:</p>
</div>

<div class="wrapper">
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Installation and repair of oil and gas tanks</h2>
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Installation and repair of oil and gas tanks</h2>
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Installation of thermal energy systems</h2>
      <p>Boilers, combi blocks, hot water boilers and substations.</p>
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Repairs of industrial plants</h2>
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Installation of solar power plants</h2>
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Installation of steel structures</h2>
    </div>
  </div>
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Consulting and Tender Management</h2>
    </div>
  </div>
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Chemical cleaning of pipelines</h2>
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Intelligent pipeline testing</h2>
    </div>
  </div>
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Installing pipelines</h2>
      <p>Connecting pipelines under pressure.</p>
    </div>
  </div>
</div>

<app-footer-en></app-footer-en>
