<app-navbar></app-navbar>

<div class="wrapper">

    <div class="contact-section">

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d265.24637976654424!2d20.34329473523989!3d44.85301556073479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a674bf4f9c6cd%3A0x2182ca18f76bdb88!2sSynergy%20Tech%20d.o.o.!5e1!3m2!1ssr!2srs!4v1664868451822!5m2!1ssr!2srs"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>

        <div class="contact-info">
            <h1 style="color: #07a8d9; font-weight: bold;">KONTAKT</h1>
            <p>Kontaktirajte nas sledecim putem:</p>

            <div class="info">
                <div class="item">
                    <mat-icon id="icon" style="color: #07a8d9;">map</mat-icon>
                    <p>Amadova 51, 11000 Belgrade, Serbia</p>
                </div>

                <div class="item">
                    <mat-icon style="color: #07a8d9;"> email</mat-icon>
                    <p><a href="mailto:office@synergytech.rs">office@synergytech.rs</a></p>
                </div>

                <div class="item">
                    <mat-icon style="color: #07a8d9;">phone_in_talk</mat-icon>
                    <p><a href="tel:+381114091589">+381 11 4091589</a><br></p>
                </div>

                <div class="item">
                    <mat-icon style="color: #07a8d9;">perm_identity</mat-icon>
                    <p>PIB: 108980086</p>
                </div>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>
