<app-navbar-en> </app-navbar-en>

<div class="hero">
  <div class="hero-text">
    <H1><U>Certificates</U></H1>
    <p>Find out which Certificates we own to our name</p>
  </div>

  <img
    src="assets/images/sertifikati1.jpg"
    alt="Welder welding two pipes together"
  />
</div>

<div class="heading">
  <h1>Certificates</h1>
  <p>Certificates we own:</p>
</div>

<div class="wrapper">
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Welding Procedure Qualification Record 1</h2>
      <img
        src="assets/images/Sertifikati/slike/1111.JPG"
        alt="First Certificate"
      />
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Welding Procedure Qualification Record 2</h2>
      <img
        src="assets/images/Sertifikati/slike/1112.JPG"
        alt="Second Certificate"
      />
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Welding Procedure Qualification Record 3</h2>
      <img
        src="assets/images/Sertifikati/slike/1113.JPG"
        alt="Third Certificate"
      />
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Welding Procedure Qualification Record 4</h2>
      <img
        src="assets/images/Sertifikati/slike/1114.JPG"
        alt="Fourth Certificate"
      />
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Welding Procedure Qualification Record 5</h2>
      <img
        src="assets/images/Sertifikati/slike/1351.JPG"
        alt="Fifth Certificate"
      />
    </div>
  </div>

  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Welding Procedure Qualification Record 6</h2>
      <img
        src="assets/images/Sertifikati/slike/1352.JPG"
        alt="Sixth Certificate"
      />
    </div>
  </div>
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Welding Procedure Qualification Record 7</h2>
      <img
        src="assets/images/Sertifikati/slike/1353.JPG"
        alt="Seventh Certificate"
      />
    </div>
  </div>
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Welding Procedure Qualification Record 8</h2>
      <img
        src="assets/images/Sertifikati/slike/sert41.JPG"
        alt="Eighth Certificate"
      />
    </div>
  </div>
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Safety and health management system Certificate</h2>
      <img
        src="assets/images/Sertifikati/slike/sert12.JPG"
        alt="Ninth Certificate"
      />
    </div>
  </div>
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Environmental management system Certificate</h2>
      <img
        src="assets/images/Sertifikati/slike/sert22.JPG"
        alt="Tenth Certificate"
      />
    </div>
  </div>
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>Energy management system Certificate</h2>
      <img
        src="assets/images/Sertifikati/slike/sert32.JPG"
        alt="Eleventh Certificate"
      />
    </div>
  </div>
  <div class="container-item">
    <div class="bar"></div>
    <div class="text">
      <h2>
        Quality requirements for fusion welding of metallic materials
        Certificate
      </h2>
      <img
        src="assets/images/Sertifikati/slike/sert51.JPG"
        alt="Twelfth Certificate"
      />
    </div>
  </div>
</div>

<app-footer></app-footer>
